<script lang="ts" setup></script>

<template>
  <h1>Administration</h1>
    <v-btn :to="{ name: 'Management'}" color="primary">Gestion</v-btn>
    <v-btn :to="{ name: 'Validation'}" color="primary" class="ml-2">Validation</v-btn>

  <RouterView />
</template>
