<!--set pour utiliser setup api de vue qui est une façon de faire le composant-->
<script setup lang="ts">
// import datas from './db'
import ressourceInterface from "@/interfaces/ressourceInterface";
import RessourceItem from "@/components/RessourceItem.vue";
import {ref, computed} from "vue"
import useRessourceStore from "@/stores/ressourceStore";


const ressourceStore = useRessourceStore();
// On utilise computed pour être sur que les donnée de notre composant soit mappée au store
const ressources = computed(() => ressourceStore.ressources);

const name = "Jamel";


//la ligne ci-dessous ne mettra pas a jour le DOM
// const listResources: ressourceInterface[] = [];
//Mais la ligne ci-dessous mettra bien a jour le DOM
let listResources = ref<ressourceInterface[]>([]);



const addList = (r: ressourceInterface) => {
  listResources.value.push(r);
  console.log("Depuis le parent");
  console.log(r)
}
const suppList = (res: ressourceInterface) => {
  listResources.value = listResources.value.filter( r => r.id !== res.id)
  console.log("Depuis le parent");
  console.log(res)
}

</script>

<template>
  <v-app>
    <v-app-bar-title>Accueil</v-app-bar-title>
    <v-main>
      <v-container>


        <v-card class="my-6 ms-7 me-9">
          <v-card-title primary-title> Liste de lecture </v-card-title>
          <v-card-text>
            <v-row>
              <v-col
                v-for="ressource in listResources"
                :key="ressource.id"
                cols="12"
                md="4"
                lg="3"
              >
                <RessourceItem
                  @manage-list="suppList($event)"
                  :ressourceName="ressource"
                  :isListOfRessource="true"
                />
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>


        <v-row>
          <!--          :key est indispensable pour assurer le dynamisme de la data-->
          <v-col
            cols="12"
            md="4"
            lg="3"
            v-for="ressource in ressources"
            :key="ressource.id"
          >
            <RessourceItem
              @manage-list="addList($event)"
              :ressourceName="ressource"
              :isListOfRessource="false"
            />
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>



