<script lang="ts" setup>
import { useRoute } from "vue-router";
import ressourceService from "@/services/ressourceService";
import {ref} from "vue";
import ressourceInterface from "@/interfaces/ressourceInterface";
import defaultImage from "@/assets/default.png";
import ContentDisplay from "@/components/ContentDisplay.vue"

const ressource = ref<ressourceInterface>(); // DYNAMIQUE

const route = useRoute();

const ressourceId =
  typeof route.params.id === "object" ? route.params.id[0] : route.params.id;

ressourceService.getRessourceByID(ressourceId as string)
  .then((results) =>{
    if (results) ressource.value = results;
  })
  .catch((error) => console.error(error));

</script>

<template>
  <div v-if="ressource">
    <v-row>
      <v-col cols="12" md="5">
        <v-img :src="ressource.image || defaultImage" alt="" />
      </v-col>
      <v-col cols="12" md="7"
      ><h1>{{ ressource.title }}</h1>

        <v-rating v-model="ressource.rating"></v-rating>

        <ContentDisplay>
          <template #ressourceTitle>{{ ressource.title }}</template>
          {{ ressource.description }}
        </ContentDisplay>

        <v-btn target="_blank" :href="ressource.url" class="mt-2" color="secondary">VOIR</v-btn>
      </v-col>
    </v-row>
  </div>
</template>
