<script lang="ts" setup>
  import defaultImage from "@/assets/default.png";
  import frenchFlag from "@/assets/frenchFlag.png";
  import { computed } from "vue"
  import { defineEmits } from "vue"
  import ressourceInterface from "@/interfaces/ressourceInterface";
  import eventBus from "@/plugins/eventBus";

  // On recupère la props ressourceName de type Ressource
  const props = defineProps<{ ressourceName: ressourceInterface; isListOfRessource: boolean }>();
  const ressourceName = props.ressourceName;
  const isListOfRessource = props.isListOfRessource;
  // Pour remplacer les 2 lignes ci-dessus onpeut juste mettre la ligne ci-dessous:
  // defineProps<{ ressourceName: Ressource }>();

  //On definit les évenements qui peuvent être émis
  const emitter = defineEmits(["manage-list"])

  const manageList = (ressource: ressourceInterface) => {
    //on emet l'evenement "manage-list"
    emitter("manage-list", ressource)
  }
  //Les computed doivent toujours renvoyer une valeur
  const dateInFrench = computed(() => {
    const dateObj = new Date(ressourceName.date);
    return dateObj.toLocaleDateString();
  })
  const mediaInFrench = computed(() => {
    switch (ressourceName.media) {
      case "book":
        return "Livre";
      case "post":
        return "Article";
      case "video":
        return "Film"
      default:
        return "Ressource";
    }
  })
  const buttonText = computed(() => {
    return isListOfRessource ? "Suppr" : "Ajout"
  })
  const sayHello = (r : ressourceInterface) => {
    console.log(`Hello title is ${r.title}`)
  }
  const openVideoDialogAction = (ressource: ressourceInterface) => {
    eventBus.emit("open-video-dialog", ressource);
  };
</script>

<template>

  <v-card class="ressource" :class=" ressourceName?.isTop ? 'isTop' : ''">
    <router-link :to="{ name: 'Ressource', params: { id: ressourceName.id }}">
      <v-img :src="ressourceName.image || defaultImage" height="250"></v-img>
    </router-link>
    <v-card-title class="title-ressource">{{ressourceName.title}}</v-card-title>
    <v-img
      v-if="ressourceName.lang === 'fr'"
      :src="frenchFlag"
      alt="Drapeau français"
      height="20"
    />
    <v-card-text>{{mediaInFrench}} ajouté(e) le {{dateInFrench}}</v-card-text>
    <v-card-actions>
      <v-btn @click="sayHello(ressourceName)" color="secondary"> +Liste C</v-btn>
      <v-btn @click="manageList(ressourceName)" color="secondary">
        {{ buttonText }}
      </v-btn>
      <v-btn
        v-if="ressourceName.media === 'video'"
        color="secondary"
        icon="mdi-video-box"
        @click="openVideoDialogAction(ressourceName)"
      ></v-btn>
    </v-card-actions>
  </v-card>
</template>

<style lang="scss" scoped>
  //dans les composant qui ont la classe isTop on applique aux composants enfant qui ont la classe title-ressource un style defini
  .isTop {
      .title-ressource {
        font-size: 3em !important;
    }
  }
  .isTop {
    background-color: #fffdc4 !important;
  }
  .ressource {
    border: 1px solid black !important;
  }
</style>
