<script lang="ts" setup>
import eventBus from "@/plugins/eventBus";
import {ref} from "vue";
import ressourceInterface from "@/interfaces/ressourceInterface";
import useRessourceStore from "@/stores/ressourceStore";

const ressourceStore = useRessourceStore();

const form = ref();

const isOpen = ref(false);

const message = ref<{ color: string; text: string }>({
  color: "",
  text: "",
});

const ressource = ref<ressourceInterface>({
  date: "",
  description: "",
  image: "",
  isTop: false,
  isValid: false,
  lang: "en",
  media: "post",
  rating: 3,
  title: "",
  url: ""
});

const ressourceCreated = ref<ressourceInterface>();

const itemsLang = [
  {
    text: "Français",
    value: "fr",
  },
  {
    text: "Anglais",
    value: "en",
  },
];

const itemsMedia = [
  {
    text: "Article",
    value: "post",
  },
  {
    text: "Livre",
    value: "book",
  },
  {
    text: "Vidéo",
    value: "video",
  },
];

eventBus.on("open-ressource-form", () => {
  isOpen.value = true;
});
//Validation du formulaire
const titleRules = [
  (v: string) => !!v || "Le titre est obligatoire",
  (v: string) => v.length >= 3 || "Le titre doit faire plus de 3 chr",
];

const addRessourceAction = async () => {
  //sans await ça ne fonctionne pas quand on utilise le store
  const validForm = await form.value.validate();
  if (validForm.valid) {
    const dateObj = new Date();
    ressource.value.date = dateObj.toISOString();

    const createdRessource = await ressourceStore.addRessource(ressource.value);
    console.log(createdRessource);
    if (createdRessource) {
      message.value = {
        color: "success",
        text: "Nouvelle ressource ajoutée avec succès! ",
      };
    } else {
      message.value = {
        color: "danger",
        text: "Problème lors de l'ajout de la ressource",
      };
      console.error("echec");
    }
    // ressourceService.postRessource(ressource.value)
    //   .then(result => {
    //     if (result) {
    //       ressourceCreated.value = result
    //       message.value = {
    //         color: "success",
    //         text: "Nouvelle ressource ajoutée avec succès! ",
    //       };
    //     } else {
    //       message.value = {
    //         color: "danger",
    //         text: "Problème lors de l'ajout de la ressource",
    //       };
    //     }
    //   })
  }
};

const clearForm = () => {
  form.value.reset()
  // isOpen.value = false
  // message.value.text = ""
  // message.value.color = ""
  // ressource.value = {
  //   date: "",
  //   description: "",
  //   image: "",
  //   isTop: false,
  //   isValid: false,
  //   lang: "en",
  //   media: "post",
  //   rating: 3,
  //   title: "",
  //   url: ""
  // }
}
</script>

<template>
  <v-dialog v-model="isOpen" width="800">
    <v-card>
      <v-card-title> Ajout d'une nouvelle ressource </v-card-title>

      <v-card-text>
        <v-alert :color="message.color" v-if="message?.text">{{
            message.text
          }}</v-alert>

        <template v-if="!message?.text">
          <v-form ref="form">
            <v-text-field
              v-model="ressource.title"
              name="title"
              label="Titre"
              id="title"
              :rules="titleRules"
            ></v-text-field>

            <v-text-field
              v-model="ressource.url"
              name="url"
              label="Lien"
              id="url"
            ></v-text-field>

            <v-text-field
              v-model="ressource.image"
              name="image"
              label="Adresse de l'image"
              id="image"
            ></v-text-field>

            <v-text-field
              v-model="ressource.description"
              label="Description"
              name="description"
              textarea
            ></v-text-field>

            <v-rating v-model="ressource.rating" />

            <v-select
              v-model="ressource.lang"
              :items="itemsLang"
              item-title="text"
              item-value="value"
              label="Langue"
            ></v-select>

            <v-select
              v-model="ressource.media"
              :items="itemsMedia"
              item-title="text"
              item-value="value"
              label="Type de média"
            ></v-select>
          </v-form>
        </template>
      </v-card-text>

      <v-card-actions>
        <v-btn @click="addRessourceAction" color="secondary">Ajouter</v-btn>
        <v-btn @click="isOpen = false">Fermer</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
