<script lang="ts" setup>
  import { ref, computed } from "vue";
  import eventBus from "@/plugins/eventBus";
  import ressourceInterface from "@/interfaces/ressourceInterface";

  const isOpen = ref(false);
  const ressource = ref<ressourceInterface>();

  const embedUrl = computed(() =>
    ressource.value?.url.replace("/watch?v=", "/embed/")
  );

  eventBus.on("open-video-dialog", (ressourceSentFromEvent) => {
    isOpen.value = true;
    ressource.value = ressourceSentFromEvent as ressourceInterface;
    console.log(ressourceSentFromEvent);
  });
</script>

<template>
  <v-dialog width="700" v-model="isOpen">
    <v-card v-if="ressource" width="700" v-model="isOpen" >
      <v-card-title> {{ ressource.title }} </v-card-title>

      <v-card-text>
        <iframe
          width="560"
          height="315"
          :src="embedUrl"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </v-card-text>

      <v-card-actions>
        <v-btn @click="isOpen = false">Fermer</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
