<script lang="ts" setup>
import useAdmin from "@/composables/useAdmin";

const { ressourceStore, deleteRessourceAction } = useAdmin();
</script>
<template>
  <h2>Validation</h2>
  <v-table>
    <thead>
    <tr>
      <th class="text-left">
        Titre
      </th>
      <th class="text-left">
        Date
      </th>
      <th class="text-left">
        Opération
      </th>
    </tr>
    </thead>
    <tbody>
    <tr
      v-for="ressource in ressourceStore.invalidRessources"
      :key="ressource.id"
    >
      <td>{{ ressource.title }}</td>
      <td>{{ ressource.date }}</td>
      <td>
        <v-btn @click="deleteRessourceAction(ressource)" color="warning">
          <v-icon icon="mdi-delete" />
          Supprimer</v-btn
        >
      </td>
    </tr>
    </tbody>
  </v-table>
</template>
