<!--set pour utiliser setup api de vue qui est une façon de faire le composant-->
<script setup lang="ts">
import VideoDialog from "@/components/VideoDialog.vue";
import CreateRessourceDialog from "@/components/RessourceFormDialog.vue";
import eventBus from "@/plugins/eventBus";
import useRessourceStore from "@/stores/ressourceStore";

const ressourceStore = useRessourceStore();

ressourceStore.loadRessources()

const openFormRessourceAction = () => {
  eventBus.emit("open-ressource-form");
};
</script>

<template>
  <v-app>
    <v-app-bar color="primary" :elevation="2">
      <v-app-bar-title>
        <router-link :to="{ name: 'Home' }" class="title-site"> DevWall </router-link>
      </v-app-bar-title>
      <v-btn :to="{ name: 'About'}">A propos</v-btn>
      <v-btn :to="{ name: 'Admin'}">Administration</v-btn>
      <v-btn @click="openFormRessourceAction">+ Ajouter</v-btn>
    </v-app-bar>
    <v-main>
      <v-container>
        <RouterView />
      </v-container>
    </v-main>
<!--    On laisse la modal VideoDialog ici pour qu'elle soit accessible de partout dans l'application-->
    <VideoDialog />
    <CreateRessourceDialog />
  </v-app>
</template>

<style scoped>
.title-site {
  color: white;
  text-decoration: none;
}
</style>



